<h1>Rails form</h1>
<!--
<form action ="<%= users_path %>" method= "POST" accept-charset="UTF-8" >
    <input type="hidden" name ="authenticity_token" value="<%= form_authenticity_token %>">
    <label for="username">Username</label>
    <input type ="text" name="user[username]"><br>
    <label for="email">Email</label>
    <input type ="text" name="user[email]"><br>
    <label for="password">password</label>
    <input type ="text" name="user[password]"><br>
    <input type ="submit" value="Send">
</form>
-->

<!--
<%= form_tag(users_path, method:"POST") do %>
    <%= label_tag(:username, "Username") %>
    <%= text_field_tag(:username, "Enter username") %><br>
    <%= label_tag(:email, "Email") %>
    <%= email_field_tag(:email, "Enter email") %><br>
    <%= label_tag(:password, "Password") %>
    <%= password_field_tag(:password, "Enter password") %><br>
    <input type ="submit" value="Send">
<% end %>
-->


<%= form_for @user do |f| %>
    <% if @user.errors.any? %>
    <div id="error_detail">
        <h2><%= pluralize(@suer.errors.count, "errors") %> prohibited this user from being saved:</h2>
        <ul> 
            <% @user.errors.full_messages.each do |error| %>
            <li><%= error %></li>
        <% end %>
        </ul>
    </div>
    <% end %>

    <%= f.label(:username, "Username") %>
    <%= f.text_field(:username, placeholder: "user") %><br>
    <%= f.label(:email, "Email") %>
    <%= f.email_field(:email, placeholder: "sample@gmail.com") %><br>
    <%= f.label(:password, "Password") %>
    <%= f.password_field(:password, placeholder: "******") %><br>
    <%= f.submit("Send") %>
<% end %>


